<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título{% endblock %}</title>

    {% load static %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="menu-principal_imagen">
        <img src="{% static 'img/logo-empresa.png' %}" alt="">
    </div>
    <h5 class="menu-principal_h5" style="padding-top: -5%; position: absolute;">HOSHO GARANTÍA S.L</h5>
    <div class="container menu-principal_container">
        <div class="row">
            <div class="menu-principal">
                <header>
                    <nav class="menu">
                        <ul class="nav justify-content-center ">
                            <li class="nav-item ">
                                <a class="nav-link  menu-principal_a" id="click1" href="#"
                                    style='text-decoration:none;color:white;' onclick="mostrar(1);" href='javascript:;'
                                    role="button">Política de privacidad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-principal_a" id="click1" href="#"
                                    style='text-decoration:none;color:white;' onclick="mostrar(2);" href='javascript:;'
                                    role="button"> Inserción de vehículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-principal_a" href="#" style='text-decoration:none;color:white;'
                                    onclick="mostrar(3);" href='javascript:;' role="button">Documentos /
                                    Mantenimiento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-principal_a" href="#" style='text-decoration:none;color:white;'
                                    onclick="mostrar(4);" href='javascript:;' role="button">Examen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-principal_a" href="#" style='text-decoration:none;color:white;'
                                    onclick="mostrar(5);" href='javascript:;' role="button">Condiciones del servicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-principal_a" href="#" style='text-decoration:none;color:white;'
                                    onclick="mostrar(6);" href='javascript:;' role="button">Protección de datos</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                {% block content %}
                Contenido
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block extrajs %}
    {% endblock %}

</body>

</html>