{% extends "base.html" %}
{% block content %}
<!--inicio de cuadro de informacion-->
<div class="cuadro-informacion">
  <div class="documentacion-checkbox">
    <div class="documentacion-mantenimiento col-12">
      <div class="documentacion-mantenimiento_p">
        <p>
          Condiciones
        </p>
      </div>
      <div class="insercion-vehiculos_h4 insercion-vehiculos-form_bloque">
        <h4>CONDICIONES DEL SERVICIO</h4>
        <p>El cliente que contrata la Garantía de Mecánica ofrecida por Hosho Garantía, tendrá derecho a los
          siguientes beneficios que se describen a continuación en el siguiente contrato:</p>
      </div>
      <div class="documentacion-mantenimiento_i">
      </div>
      <div class="condiciones-p insercion-vehiculos-form_bloque">
        <p>En una parte, la Sociedad GRUPO HOSHO S.L, denominación comercial HOSHO GARANTÍA.
          <br><br>
          De la otra, el cliente que contrata los servicios ofrecidos por los servicios de garantía mecánica de la
          empresa HOSHO GARANTÍA.
          <br>
        <div class="condiciones-p_center">
          <strong> INTERVENCION Y CAPACIDAD</strong>
        </div>
        <br>
        Ambas partes se reconocen capacidad jurídico legal para el otorgamiento del presente contrato, actuando la
        empresa la HOSHO GARANTÍA y el titular del vehículo garantizado en su propio nombre y representación.
        <br>
        <div class="condiciones-p_center">
          <strong> EXPONEN</strong>
        </div>
        <br>
        I.- HOSHO GARANTÍA, es una entidad de garantías de vehículos, que provee reparaciones a través de un
        contrato de garantía suscrito con el titular del vehículo garantizado y/o el vendedor.
        <br><br>
        II.- . HOSHO GARANTÍA no es una compañía de seguros, ni el presente contrato es una póliza de seguros.
        <br><br>
        III.- La presente garantía no afecta a los derechos legales vigentes tiene el comprador, sino que los
        amplia, tanto si lo es en concepto de consumidor, persona física particular o persona jurídica
        profesional.
        <br>
        <div class="condiciones-p_center">
          <strong> CLÁUSULAS</strong>
        </div>
        <br>
        <STRONG>PRIMERA</STRONG>
        <br><br>
        <STRong>OBJETO DE GARANTÍA</STRong>
        <br>
        Servicio sobre el que recae el presente contrato de garantía.
        <br><br>
        Descripción del vehículo objeto de garantía. Previa revisión y descripción detallada del estado del
        vehículo por parte de un técnico, de lo cual se deja constancia documental en este contrato de garantía.
        <br><br>
        <strong>MARCA MODELO MATRÍCULA</strong>
        <br><br>
        <strong>BASTIDOR KILOMETRAJE AÑO DE MATRICULACIÓN</strong>
        Información disponible en el formulario de contratación
        <br><br>
        El comprador, asume que se trata de un automóvil usado, y que por consiguiente se ha producido una
        devaluación sobre los elementos y piezas que integran el conjunto del mismo, el garante responde con
        respecto del vehículo en cuestión, en el caso de que la vida útil de la pieza sea inferior a la prevista
        por el fabricante o a los usos habituales. Tras una revisión realizada en presencia del propietario, se ha
        podido determinar que el estado del vehículo es el siguiente:
        <br><br>
        <strong>Carrocería </strong>
        <br>
        Desgaste del vehículo
        Presenta buen estado atendiendo a su antigüedad y uso Incidencias reseñables:
        <br><br>
        <strong>Electricidad </strong>
        <br>
        Desgaste del vehículo
        Funciona todo como condición normal de uso, para antigüedad y uso. Incidencias reseñables:
        <br><br>
        <strong>Interiores</strong>
        <br>
        Desgaste del vehículo
        El vehículo presenta buen estado del interior con desgaste normal para antigüedad y uso. Incidencias
        reseñables:
        <br><br>
        <strong>MECÁNICA: </strong>
        <br>
        Desgaste del vehículo
        Hemos realizado un informe del vehículo el cual nos informa que está acto para la venta, y su mecánica
        atiende al uso normal con respecto a su antigüedad y kilometraje.
        <br><br>
        El propietario conoce el estado del vehículo, tras el reconocimiento por parte de la empresa garante se
        comprueba el funcionamiento de todos los elementos y mecanismos eléctricos del vehículo, así como los
        manuales, luces e interruptores, siendo por tanto conocedor de su estado.
        <br><br>
        Piezas que podrían requerir sustitución durante el año después de haberse realizado el presente contrato
        de garantía y que podrían llegar a su vida útil serían:
        <br><br>
        COBERTURA DE LA GARANTÍA MECÁNICA:
        Motor.
        Alimentación.
        Sobrealimentación.
        Compresor Volumétrico.
        Cambio Manual.
        Cambio Automático.
        Cambio a Variación Continua.
        Sistema de frenado.
        Diferencial.
        Sistema de refrigeración.
        Dirección.
        Transmisión.
        EXCLUSIONES DE LA GARANTÍA.
        Rodamientos, embrague, mecatrónica de las cajas automáticas, la cual hace parte de los sistemas de
        ingeniería inteligentes electrónicos del vehículo y el cuerpo de válvula o caja de correderas de la caja
        de cambios automáticas, al igual que la bomba hidráulica de cambio manual robotizada.
        Es de aclarar que las piezas o partes que requieran sustitución, mantenimiento, reparación o reglajes de
        piezas u órganos ocasionados por desgaste, deformación o deterioro paulatino, como consecuencia del uso o
        funcionamiento normal, erosión, corrosión no estarían cubiertas por la garantía mecánica básica.
        <br><br>
        <strong>SEGUNDA: PRESTACIÓN DE SERVICIO DE GARANTIA.</strong>
        <br><br>
        La presente garantía comercial tiene carácter adicional y voluntario y será de obligado cumplimiento por
        parte de HOSHO GARANTÍA, se garantiza el arreglo del vehículo de forma gratuita en caso de avería
        mecánica, con el único límite que no supere la reparación el valor venal del vehículo, según el Baremo de
        Eurotax a la fecha de concurrencia de la avería. La presente garantía tiene por única finalidad la de
        permitir la entrega del vehículo objeto de la garantía, en el mismo estado de funcionamiento mecánico
        anterior a la avería garantizada.
        <br><br>
        La presente cobertura, tienen por objeto garantizar el importe de las reparaciones (piezas, mano de obra),
        tras una avería mecánica de carácter fortuito, con los límites y condiciones establecidos en el presente
        contrato. La presente garantía no cubre los daños y perjuicios debidos a una responsabilidad, sea cual sea
        (contractual, delictiva o extracontractual), ni los daños y perjuicios directos o indirectos, aunque sean
        debidos a una avería cubierta por la garantía. Dicha garantía no exime de las responsabilidades legales
        del vendedor del vehículo descritas en la Ley de Defensa de los Consumidores vigente y en el Código Civil,
        la entidad garante podrá reclamar por dichos vicios o defectos al fabricante
        <br><br>
        A efectos de determinar la garantía, se entiende por avería mecánica, a efectos del presente contrato, la
        incapacidad de una pieza de funcionar conforme a las especificaciones del fabricante, como consecuencia de
        un fallo mecánico o eléctrico. Por lo tanto, no tienen la consideración de avería mecánica, la reducción
        gradual del rendimiento de una pieza debido a su desgaste o deterioro por antigüedad y kilometraje del
        vehículo.
        <br><br>
        <strong>TERCERA: DURACIÓN DEL CONTRATO DE GARANTIA.</strong>
        <br><br>
        El Prestador realizará los Servicios objeto del presente Contrato durante el periodo de 6 meses o 1 (un)
        año según convengan las partes desde la suscripción del presente Contrato. Una vez finalizado dicho plazo
        el compromiso se prorrogará por iguales periodos salvo que alguna de las partes exprese su deseo de no
        renovar el contrato, que deberá realizarse con una anterioridad mínima de dos meses.
        <br><br>
        En cualquier caso, y como requisito previo a la resolución del Contrato por cualquiera de las Partes, se
        deberá notificar a la parte incumplidora el incumplimiento y conceder un plazo de 5 días desde la
        notificación para que subsane dicho incumplimiento. Transcurrido dicho plazo se podrá resolver el
        Contrato.
        <br><br>
        La duración de la garantía podrá ser anulada antes del plazo contratado por las siguientes razones:
        <br><br>
        . En caso de no realizarse el pago de los servicios.
        <br><br>
        . En caso de una falsa declaración u omisión o inexactitud de los datos necesarios y solicitados para la
        concesión de la garantía mecánica.
        <br><br>
        . Cuando el vehículo garantizado sea vendido, cedido, destruido o robado.
        <br><br>
        . Cuando la utilización del vehículo o su mantenimiento no sean los recomendados por el fabricante.
        <br><br>
        . Cuando hayan sido montadas piezas o realizadas modificaciones o transformaciones en el vehículo sin la
        autorización de la entidad garante.
        <br><br>
        . Cuando el propietario de mala fe, exagere el importe de los daños o intencionadamente utilice como
        justificantes, documentos falsos o medios fraudulentos, perderá todo derecho a indemnización o arreglo.
        <br><br>
        La resolución unilateral por parte de HOSHO GARANTÍA será automática en los supuestos antes descritos, y
        tendrá efecto desde la fecha del suceso que la provoca, y el propietario del vehículo no tendrá derecho a
        ningún tipo de indemnización, por lo que el presente contrato se extinguirá inmediatamente y todas las
        sumas pagadas a HOSHO GARANTÍA se perderán, sin perjuicio de las acciones legales que la entidad garante
        pueda interesar en defensa de sus intereses.
        <br><br>
        <strong>CUARTA: PRECIO</strong>
        <br><br>
        El Precio será abonado de la forma siguiente: El Cliente procederá al abono de la cuota anual, mediante
        domiciliación bancaria, Transferencia, Stripe, Tarjeta de crédito.
        <br><br>
        <strong>QUINTA: REVISIONES MECÁNICAS OBLIGATORIAS</strong>
        <br><br>
        El titular del vehículo se compromete a realizar las revisiones del vehículo conforme a un calendario de
        servicio periódico de la siguiente forma, para vehículos cada 10.000 kilómetros o seis meses y para
        motocicletas 5000 kilómetros o seis meses. El titular deberá guardar los certificados acreditativos de
        pasar esas revisiones periódicas, la empresa garante podrá exigir su presentación. El incumplimiento por
        parte del propietario de la garantía, de las revisiones antes descritas, libera a HOSHO GARANTÍA de las
        obligaciones inherentes en el presente contrato, en caso de incumplimiento las cantidades recibidas por le
        empresa no serán devueltas al titular del contrato.
        <br><br>
        <strong>SEXTA: EN CASO DE AVERÍA</strong>
        <br><br>
        El propietario o conductor deberá detenerse en cuanto aparezcan los primeros síntomas de avería o mal
        funcionamiento mecánico, dado que cualquier agravación de la misma quedará a su cargo.
        <br><br>
        Se deberá comunicar a HOSHO GARANTÍA dicha avería en el plazo de siete días, indicando tipo de avería, el
        número de garantía y los kilómetros indicados en el marcador, a efectos de poder determinar el taller al
        que se debe llevar el vehículo. La empresa garante se reserva el derecho de elegir, si así lo cree
        preciso, un taller colaborador para realizar las necesarias reparaciones. Así mismo, puede decidir
        utilizar componentes de sustitución equivalentes al desgaste del vehículo asegurado, si el titular del
        vehículo decidiera que la reparación se realice con piezas nuevas la diferencia del coste correrá de su
        cargo. El incumplimiento de del plazo o taller indicados eximirá a la entidad garante del cumplimiento de
        sus servicios.
        <br><br>
        Si la avería está cubierta por la garantía, HOSHO GARANTÍA, comunicará al taller reparador la autorización
        sobre la cuantía de la avería, una vez reparado se extenderá factura a nombre de la entidad garante, por
        la cuantía aceptada y garantizada, quién efectuará el correspondiente abono de la factura. Toda reparación
        o intervención que no haya sido objeto de acuerdo previo entre el taller reparador e HOSHO GARANTÍA, no
        irá a cargo de la garantía.
        <br><br>
        No se indemnizará gastos de diagnosis y desmontaje de las piezas si la avería no está cubierta por la
        presente garantía.
        <br><br>
        HOSHO GARANTÍA en ningún caso asumirá reparaciones en la casa oficial la marca del vehículo.
        <br><br>
        Finalmente, <strong>HOSHO GARANTÍA</strong> se reserva el derecho de nombrar perito para todos los casos
        que considere oportunos.
        <br><br>
        <strong>SÉPTIMA: CESIÓN.</strong>
        <br><br>
        Las Partes no podrán ceder su posición en el presente Contrato, ni tampoco los derechos u obligaciones que
        del mismo se derivan.su favor o a su cargo, sin el consentimiento por escrito de la otra Parte.
        <br><br>
        <strong>OCTAVA: LEY APLICABLE Y JURISDICCIÓN COMPETENTE</strong>
        <br><br>
        El presente Contrato se regirá e interpretará de acuerdo con las Leyes de España y se someterá a la
        jurisdicción de los Tribunales de Las Palmas de Gran Canaria.
        <br><br>
        <strong>NOVENA:</strong>
        <br><br>
        Toda garantía contratada tendrá una carencia de 25 días a partir del pago de la misma.
        <br><br>
        <strong>DÉCIMA:</strong>
        <br><br>
        El cliente acepta y entiende los términos y condiciones del contrato, teniendo claro que Ibérica Garantías
        pasa a ser la empresa subsidiaria de dicha garantía, eximiendo de cualquier responsabilidad al vendedor.
        <br><br>
        <strong>NOTIFICACIONES</strong>
        <br><br>
        Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que hayan de efectuarse por
        las partes en relación con el presente contrato, deberán realizarse por escrito y se entenderá que han
        sido debidamente realizadas cuando hayan sido entregadas en mano o bien remitidas por correo certificado
        al domicilio de la otra parte que conste en el encabezamiento del presente contrato, o bien a cualquier
        otro domicilio que a estos efectos cada parte pueda indicar a la otra.</p>
      </div>
    </div>
  </div>
</div>
<!--inicio de boton-->
<div class="menu-principal_botones">
  <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:examen'%}"
      style='text-decoration:none;color:#f44336;'>ANTERIOR</a></button>
  <button type="button" class="menu-principal_botones-color"><a href="#"
      style='text-decoration:none;color:#f44336;'>CONFIRMAR</a></button>
  <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:proteccion'%}"
      style='text-decoration:none;color:#f44336;'> SIGUIENTE</a></button>
  <button type="button" class="menu-principal_botones-color"><i class='bx bxs-save'></i></i></button>
</div>
</div>
</div>
{% endblock %}