{% extends "base.html" %}
{% block content %}
<div class="menu-principal_imagen">
  <img src="img/logo-empresa.png" alt="">
</div>
<h5 class="menu-principal_h5">HOSHO GARANTÍA S.L</h5>
<div class="container menu-principal_container">
  <div class="row">
    <div class="menu-principal">
      <nav class="menu">
        <ul class="nav justify-content-center ">

          <li class="nav-item ">
            <a class="nav-link  menu-principal_a" id="click1" href="index.html"
              style='text-decoration:none;color:white;'>Política de privacidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" id="click1" href="insercion.html"
              style='text-decoration:none;color:white;'> Inserción de vehículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="documentacion.html"
              style='text-decoration:none;color:white;'>Documentos / Mantenimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="examen.html" style='text-decoration:none;color:white;'>Examen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="condiciones.html"
              style='text-decoration:none;color:white;'>Condiciones del servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="proteccion.html"
              style='text-decoration:none;color:white;'>Protección de datos</a>
          </li>
      </nav>
      </ul>
      </header>
      <!--fin de menu principal-->

      <!--inicio de cuadro de informacion-->
      <div class="cuadro-informacion">
        <div class="insercion-vehiculos_h4">
          <h4>DOCUMENTACIÓN</h4>
        </div>
        <div class="documentacion-checkbox">
          <form>
            <div class="form-row">
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Rueda de repuesto</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Rueda de repuesto</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Kit de inflado</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Triángulo de emergencia</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Gato</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Chaleco alta visibilidad</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Kit bombillas - fusibles</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">duplicado de llaves</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Cod. Card </span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Libre uso y mantenimiento</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Ficha Tecnica</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="check-box-group">
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="label">Permiso de circulación</span>
                  </label>
                </div>
              </div>
          </form>
          <div class="documentacion-mantenimiento col-12">
            <div class="documentacion-mantenimiento_i">
              <i class='bx bxs-folder-open'></i>
            </div>
            <div class="insercion-vehiculos-form_bloque">
              <form class="insercion-vehiculos-form">
                <div class="form-row">
                  <div class="col ">
                    <label for="validationCustom04">ITV</label>
                    <select class="custom-select" id="validationCustom04" required>
                      <option>Vencido</option>
                      <option>Válido</option>
                    </select>
                  </div>
                  <div class="col insercion-vehiculos-date">
                    <label for="validationCustom04">Fecha</label>
                    <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="documentacion-mantenimiento col-12">
            <div class="documentacion-mantenimiento_p">
              <p>
                <i class='bx bxs-wrench'></i>
                Mantenimiento
              </p>
            </div>
            <div class="insercion-vehiculos-form_bloque">
              <form class="insercion-vehiculos-form">
                <div class="form-row">
                  <div class="col">
                    <label for="validationCustom04">Estado revisiones</label>
                    <select class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">Según plan del constructor</option>
                      <option>Regulados</option>
                      <option>No documentados</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="validationCustom04">Manten. Previo a entrega</label>
                    <select class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">Ninguno</option>
                      <option>Control/Relleno Niveles</option>
                      <option>Cambio de aceite y filtro</option>
                      <option>Revisión de motor</option>
                      <option>Revisión completa</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="validationCustom04">Correa de servicio</label>
                    <select class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">No disponible</option>
                      <option>Buenas condiciones</option>
                      <option>Intervención recomendada</option>
                      <option>No disponible</option>
                      <option>Condiciones normales de uso</option>
                      <option>Reacondicionado</option>
                      <option>Reparación necesaria</option>
                    </select>
                  </div>
                </div>
            </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="validationCustom04">Estado de batería</label>
                  <select class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="">Buenas condiciones</option>
                    <option>Intervención recomendada</option>
                    <option>No disponible</option>
                    <option>Condiciones normales de uso</option>
                    <option>Reacondicionado</option>
                    <option>Reparación necesaria</option>
                  </select>
                </div>
                <div class="col">
                  <label for="validationCustom04">Correa de distribución</label>
                  <select class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="">Buenas condiciones</option>
                    <option>Intervención recomendada</option>
                    <option>No disponible</option>
                    <option>Condiciones normales de uso</option>
                    <option>Reacondicionado</option>
                    <option>Reparación necesaria</option>
                  </select>
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form ">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Último mantenimiento</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Próximo mantenimiento</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form ">
              <div class="form-row">
                <div class="col documentacion-mantenimiento_form">
                  <label for="validationCustom04">ITV</label>
                  <select class="custom-select" id="validationCustom04" required>
                    <option>Vencido</option>
                    <option>Válido</option>
                  </select>
                </div>
                <div class="col insercion-vehiculos-date">
                  <label for="validationCustom04">Última ITV</label>
                  <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--inicio de boton-->
        <div class="menu-principal_botones">
          <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:insercion' %}"
              style='text-decoration:none;color:#f44336;'>ANTERIOR</a></button>
          <button type="button" class="menu-principal_botones-color"><a href=""
              style='text-decoration:none;color:#f44336;'>CONFIRMAR</a></button>
          <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:examen' %}"
              style='text-decoration:none;color:#f44336;'> SIGUIENTE</a></button>
          <button type="button" class="menu-principal_botones-color"><i class='bx bxs-save'></i></i></button>
        </div>
      </div>
    </div>
    <!--fin de menu principal-->
  </div>
</div>
{% endblock %}