{% extends "base.html" %}
{% block content %}

        <!--fin de menu principal-->

        <!--inicio de cuadro de informacion-->
        <div class="cuadro-informacion">
          <div class="politica-privacidad">
            <div class="form-check politica-privacidad_checkbox">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Acepto la política de privacidad</label>
            </div>
            <br><br>
            <div class="politica-privacidad_informacion">
              <p>
                Es necesario que aceptes la política de privacidad para poder continuar.
                <br><br>
                Responsable: Hosho Garantias, Siendo la finalidad; envío de mis publicaciones así como correos
                comerciales.
                <br><br>
                La Legitimación; es gracias a tu consentimiento.
                <br><br>
                Destinarios; Tus datos se encuentran alojados en nuestra plataforma de email y nuestra base de datos
                ubicada en Madrid
                <br><br>
                Podrás ejercer Tus derechos de acceso, rectificación, limitación, o suprimir tus datos en
                administracion@hoshogarantias.com para más información consulte nuestra política de privacidad.
              </p>
            </div>
            <form>
              <div class="form-group row">
                <div class="col-5">
                  <label for="colFormLabelSm " class="politica-privacidad_informacion-form-1">CONCESIONARIO</label>
                  <p class="politica-privacidad_informacion-form-2">Cliente vendedor</p>
                </div>
                <div class="form-group col-5 politica-privacidad_informacion-form-3">
                  <label for="formGroupExampleInput2">Escribe aquí</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2">
                </div>
              </div>
            </form>
            <div class="menu-principal_botones">
              <button type="button" class="menu-principal_botones-color"><a href=""
                  style='text-decoration:none;color:#f44336;'>ANTERIOR</a></button>
              <button type="button" class="menu-principal_botones-color"><a href=""
                  style='text-decoration:none;color:#f44336;'>CONFIRMAR</a></button>
              <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:insercion' %}"
                  style='text-decoration:none;color:#f44336;'> SIGUIENTE</a></button>
              <button type="button" class="menu-principal_botones-color"><i class='bx bxs-save'></i></i></button>
            </div>
          </div>
        </div>
  
{% endblock %}