{% extends "base.html" %}
{% block content %}

      <!--inicio de cuadro de informacion-->
      <div class="prueba">
        <div class="cuadro-informacion">
          <div class="insercion-vehiculos_h4">
            <h4>Inserción de vehículos</h4>
          </div>
          <form>
            <div class="form-group col insercion-vehiculos_informacion-form">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del Comercial">
            </div>
        </div>
        </form>
        <div class="insercion-vehiculos">
          <div class="insercion-vehiculos_p">
            <p>
              Datos identificativos del vehículo
            </p>
          </div>
          <div class="insercion-vehiculos-form_bloque">
            <form class="insercion-vehiculos-form ">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Matrícula</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Marca</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Modelo</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Alimentación</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Clase de Cont.</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col insercion-vehiculos-date">
                  <label for="example-date-input" class="col col-form-label">Prime matr.</label>
                  <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-group">
                <label for="formGroupExampleInput">Versión</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escribe aquí">
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Potencia-KW</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">N° Propietarios privados</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">N° Propiestarios profesionales</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Cilindrada</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form ">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Bastidor</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Color</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
          </div>
          <form class="insercion-vehiculos-form insercion-vehiculos-form_bloque">
            <div class="form-row">
              <div class="col insercion-vehiculos-date">
                <label for="example-date-input" class="col col-form-label">Fecha de entrega</label>
                <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
              </div>
              <div class="col insercion-vehiculos-date">
                <label for="example-date-input" class="col col-form-label">Fecha de inicio</label>
                <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
              </div>
              <div class="col insercion-vehiculos-date">
                <label for="example-date-input" class="col col-form-label">Fecha de activación</label>
                <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
              </div>
            </div>
          </form>
          <div class="insercion-vehiculos_h4">
            <h4>SUPLEMENTOS</h4>
          </div>
          <form class="insercion-vehiculos-form ">
            <div class="form-row">
              <div class="col">
                <label for="validationCustom04">4 x 4</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
              <div class="col">
                <label for="validationCustom04">Cambio Autom.</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
              <div class="col">
                <label for="validationCustom04">Vehículo comercial</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
            </div>
          </form>
          <form class="insercion-vehiculos-form">
            <div class="form-row">
              <div class="col">
                <label for="validationCustom04">Super car</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
              <div class="col">
                <label for="validationCustom04">Suv</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
              <div class="col">
                <label for="validationCustom04">+ Cobertura</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">No</option>
                  <option>Si</option>
                </select>
              </div>
            </div>
          </form>
          <div class="insercion-vehiculos-form_bloque">
            <div class="insercion-vehiculos_p">
              <p>
                <i class='bx bxs-user'></i>
                Datos del comprador
              </p>
            </div>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Nombre completo</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Dirección</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Código postal</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Número de teléfono</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">C.P./ Localidad - Provincia - Pais</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">Número del Móvil</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col">
                  <label for="formGroupExampleInput">Email</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
                <div class="col">
                  <label for="formGroupExampleInput">D.N.I / CIF / NIC</label>
                  <input type="text" class="form-control" placeholder="Escribe aquí">
                </div>
              </div>
            </form>
          </div>

          <form class="insercion-vehiculos-form">
            <div class="form-row">
              <div class="col-5">
                <label for="formGroupExampleInput">Duración del contrato</label>
                <input type="text" class="form-control" placeholder="1 año">
              </div>
          </form>
        </div>
      </div>
      <!--inicio de boton-->
      <div class="menu-principal_botones">
        <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:index' %}"
            style='text-decoration:none;color:#f44336;'>ANTERIOR</a></button>
        <button type="button" class="menu-principal_botones-color"><a href=""
            style='text-decoration:none;color:#f44336;'>CONFIRMAR</a></button>
        <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:documentacion' %}"
            style='text-decoration:none;color:#f44336;'> SIGUIENTE</a></button>
        <button type="button" class="menu-principal_botones-color"><i class='bx bxs-save'></i></i></button>
      </div>
    </div>
  </div>
{% endblock %}