<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- POLITICAS Y PRIVACIDAD: -->
    {{ insercion.concesionario }}
    <!-- # INSERCION DE VEHICULOS -->
    {{ insercion.nombreComercial }}
    <!-- # DATOS DEL VEHICULO -->
    {{ insercion.matricula }}
    {{ insercion.marca }}
    {{ insercion.modelo }}
    {{ insercion.alimentacion }}
    {{ insercion.claseControl }}
    {{ insercion.primeraMatricula }}
    {{ insercion.version }}
    {{ insercion.potenciaKW }}
    {{ insercion.nroPropietariosPrivados }}
    {{ insercion.nroPropietariosProfesionales }}
    {{ insercion.cilindrada }}
    {{ insercion.bastidor }}
    {{ insercion.color }}
    {{ insercion.fechaEntrega }}
    {{ insercion.fechaInicio }}
    {{ insercion.fechaActivacion }}
    <!-- # suplementos -->
    {{ insercion.cuatroxcuatro }}
    {{ insercion.cambioautomatico }}
    {{ insercion.vehiculoComercial }}
    {{ insercion.superCar }}
    {{ insercion.suv }}
    {{ insercion.cobertura }}
    <!-- # DATOS DEL COMPRADOR -->
    {{ insercion.nombreCompleto }}
    {{ insercion.direccion }}
    {{ insercion.codigoPostal }}
    {{ insercion.numeroTelefono }}
    {{ insercion.localidad }}
    {{ insercion.numeroMovil }}
    {{ insercion.email }}
    {{ insercion.documentoIdentidad }}
    <!-- # DURACION DEL CONTRATO -->
    {{ insercion.duracionContrato }}
    <!-- # DOCUMENTACION: -->
    {{ insercion.ruedaRepuesto1 }}
    {{ insercion.ruedaRepuesto2 }}
    {{ insercion.kitInflado }}
    {{ insercion.trianguloEmergencia }}
    {{ insercion.gato }}
    {{ insercion.chalecoAltaVelocidad }}
    {{ insercion.kitBombillas }}
    {{ insercion.kitBombillasFusibles }}
    {{ insercion.duplicadoLlaves }}
    {{ insercion.codCard }}
    {{ insercion.libreUsoMantenimiento }}
    {{ insercion.fichaTecnica }}
    {{ insercion.permisoCirculacion }}
    {{ insercion.itv }}
    {{ insercion.fechaITV }}
    <!-- # MANTENIMIENTO: -->
    {{ insercion.estadoRevisiones }}
    {{ insercion.mantenimientoPrevioEntrega }}
    {{ insercion.correaServicio }}
    {{ insercion.estadoBateria }}
    {{ insercion.correaDistribucion }}
    {{ insercion.ultimoMantenimiento }}
    {{ insercion.proximoMantenimiento }}
    {{ insercion.ultimaITV }}
    <!-- # EXAMEN VISUAL: -->
    {{ insercion.carroceria }}
    {{ insercion.descripcionCarroceria }}
    {{ insercion.habitaculoTapiceria }}
    {{ insercion.descripcionHabitaculoTapiceria }}
    {{ insercion.habitaculoTapiceria2 }}
    {{ insercion.descripcionHabitaculoTapiceria2 }}
    {{ insercion.asientoRevestimientoAsiento }}
    {{ insercion.descripcionAsientoRevestimientoAsiento }}
    {{ insercion.neumaticosDelanteros }}
    {{ insercion.descripcionNeumaticosDelanteros }}
    {{ insercion.neumaticosTraseros }}
    {{ insercion.descripcionNeumaticosTraseros }}
    {{ insercion.volanteMotor }}
    {{ insercion.descripcionVolanteMotor }}
    {{ insercion.motor }}
    {{ insercion.Explicacionmotor }}
    {{ insercion.sistemaEscape }}
    {{ insercion.explicacionsistemaEscape }}
    {{ insercion.embrague }}
    {{ insercion.descripcionEmbrague }}
    {{ insercion.alimentacionInyeccion }}
    {{ insercion.explicacionAlimentacionInyeccion }}
    {{ insercion.cambio }}
    {{ insercion.explicacionCambio }}
    {{ insercion.motorArranqueAlternador }}
    {{ insercion.explicacionMotorArranqueAlternador }}
    {{ insercion.diferencialRepartidor }}
    {{ insercion.explicacionDiferencialRepartidor }}
    {{ insercion.cajaTranferencia }}
    {{ insercion.explicacionCajaTranferencia }}
    {{ insercion.organoDireccion }}
    {{ insercion.explicacionOrganoDireccion }}
    {{ insercion.rodamientoNeumaticos }}
    {{ insercion.ExplicacionRodamientoNeumaticos }}
    {{ insercion.direccionAsistida }}
    {{ insercion.explicacionDireccionAsistida }}
    {{ insercion.bombaDireccionAsistida }}
    {{ insercion.explicacionbombaDireccionAsistida }}
    {{ insercion.sistemaFrenado }}
    {{ insercion.explicacionSistemaFrenado }}
    {{ insercion.sistemaRefrigeracion }}
    {{ insercion.explicacionSistemaRefrigeracion }}
    {{ insercion.sistemaCalefaccion }}
    {{ insercion.explicacionSistemaCalefaccion }}
    {{ insercion.aireAcondicionado }}
    {{ insercion.expliacionAireAcondicionado }}
    {{ insercion.AbsEsp }}
    {{ insercion.explicacionAbsEsp }}
    {{ insercion.cuadroInstrumentos }}
    {{ insercion.explicacionCuadroInstrumentos }}
    {{ insercion.limpiaParabrisas }}
    {{ insercion.explicacionLimpiaParabrisas }}
    {{ insercion.bombaLimpiaparabrisas }}
    {{ insercion.explicacionbombaLimpiaparabrisas }}
    {{ insercion.sistemaElectrico }}
    {{ insercion.explicacionSistemaElectrico }}
    {{ insercion.cierreCentralizado }}
    {{ insercion.expliacionCierreCentralizado }}
    {{ insercion.alumbradoSeñalizacion }}
    {{ insercion.expliacionAlumbradoSeñalizacion }}
    {{ insercion.radioLector }}
    {{ insercion.explicacionRadioLector }}
    {{ insercion.navegador }}
    {{ insercion.explicacionNavegador }}
    {{ insercion.elevalunasElectrico }}
    {{ insercion.explicacionElevalunasElectrico }}
    {{ insercion.airBag }}
    {{ insercion.explicacionAirBag }}
    {{ insercion.antirrobo }}
    {{ insercion.explicacionAntirrobo }}
    {{ insercion.techoSolar }}
    {{ insercion.expliacionTechoSolar }}



</body>
</html>