<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="UTF-8">
</head>
<style>
  th,
  td {
    padding-bottom: 0.7px;
  }

  td {
    text-align: center !important;
  }

  .table {
    font-size: 12px;
  }

  th.table td.table {
    padding-bottom: 2px;
  }

  .table-title {
    font-size: 11px;
  }
</style>

<body>
  {% for a in insercion %}
  <!--inicio de cuadro de informacion-->
  <div>
    <hr>
    <p class="table-title">
      DATOS DEL COMPRADOR
    </p>
    <hr>
    <table>
      <tbody>
        <tr>
          <th>Nombre y Apellido/Razón social</th>
          <td>{{ a.datos_del_comprador.nombre_Completo }}</td>
          <th>C.I.F</th>
          <td>{{ a.datos_del_comprador.documento_identidad }}</td>
        </tr>
        <tr>
          <th scope="row">Lugar y fecha de nacimiento</th>
          <td>{{ a.contrato.nacido }} {{ a.contrato.fecha }}</td>
          <th>Sujeto a inpuesto</th>
          <td>
            <div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Dirección</th>
          <td>{{ a.datos_del_comprador.direccion }}</td>
          <th>N.I.F</th>
          <td>-----------</td>
        </tr>
        <tr>
          <th scope="row">C.P/Localidad/Provincia</th>
          <td>{{ a.datos_del_comprador.localidad_Provincia_Pais }}</td>
          <th>Teléfono</th>
          <td>{{ a.datos_del_comprador.numero_de_telefono }}</td>
        </tr>
        <tr>
          <th scope="row">Fax/E-mail</th>
          <td>{{ a.datos_del_comprador.email }}</td>
          <th>Móvil.</th>
          <td>+{{ a.datos_del_comprador.numero_de_movil }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <hr>
    <p class="table-title">
      DATOS DE IDENTIFICACIÓN DEL VEHÍCULO
    </p>
    <hr>
    <table>
      <tbody>
        <tr>
          <th>Marca</th>
          <td>{{ a.datos_del_Vehiculo.marca }}</td>
          <th>Color</th>
          <td>{{ a.datos_del_Vehiculo.color }}</td>
        </tr>
        <tr>
          <th scope="row">Modelo</th>
          <td>{{ a.datos_del_Vehiculo.modelo }}</td>
          <th>Cilindrada</th>
          <td>
            {{ a.datos_del_Vehiculo.cilindrada }}
          </td>
        </tr>
        <tr>
          <th scope="row">Version</th>
          <td>{{ a.datos_del_Vehiculo.version }}</td>
          <th>Potencia</th>
          <td>{{ a.datos_del_Vehiculo.potencia_KW }}</td>
        </tr>
        <tr>
          <th scope="row">Número de matricula</th>
          <td>{{ a.datos_del_Vehiculo.matricula }}</td>
          <th>Alimentación</th>
          <td>{{ a.datos_del_Vehiculo.alimentacion }}</td>
        </tr>
        <tr>
          <th scope="row">Primera matriculación</th>
          <td>{{ a.datos_del_Vehiculo.prime_matr }}</td>
          <th scope="row">Numero de propietarios Profesionales</th>
          <td>{{ a.datos_del_Vehiculo.nro_propietarios_profesionales }}</td>
        </tr>
        <tr>
          <th scope="row">Numero de bastidor</th>
          <td>{{ a.datos_del_Vehiculo.bastidor }}</td>
          <th scope="row">Numero de propietarios privados</th>
          <td>{{ a.datos_del_Vehiculo.nro_propietarios_Privados }}</td>
        </tr>
        <tr>
          <th>Transmisión</th>
          <td>{{ a.datos_del_Vehiculo.transmision }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <hr>
    <p class="table-title">
      DOTACIONES Y DOCUMENTOS
    </p>
    <hr>
    <table>
      <tbody>
        <tr>
          <th scope="row">Rueda de Repuesto</th>
          <td>{{ a.documentacion.rueda_repuesto1|yesno:"Si,No" }}</td>
          <th scope="row">Duplicado Llaves</th>
          <td>{{ a.documentacion.duplicado_llaves|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">Kit de inflado</th>
          <td>{{ a.documentacion.kit_inflado|yesno:"Si,No" }}</td>
          <th scope="row">Triángulo de Socorro</th>
          <td>{{ a.documentacion.triangulo_emergencia|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">Gato</th>
          <td>{{ a.documentacion.gato|yesno:"Si,No" }}</td>
          <th scope="row">Chaleco de Alta Visibilidad</th>
          <td>{{ a.documentacion.chaleco_alta_visibilidad|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">Kit de Fusibles</th>
          <td>{{ a.documentacion.kit_bombillas_fusibles|yesno:"Si,No" }}</td>
          <th scope="row">Kit de Bombillas</th>
          <td>{{ a.documentacion.kit_bombillas|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">Ficha Técnica</th>
          <td>{{ a.documentacion.ficha_tecnica|yesno:"Si,No" }}</td>
          <th scope="row">Permiso de Circulación</th>
          <td>{{ a.documentacion.permiso_circulacion|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">ITV</th>
          <td>{{ a.documentacion.itv|yesno:"Si,No" }}</td>
          <th scope="row">Vencimiento ITC</th>
          <td>{{ a.documentacion.fecha|yesno:"Si,No" }}</td>
        </tr>
        <tr>
          <th scope="row">Libro de Matenimiento y uso</th>
          <td>{{ a.documentacion.libre_uso_mantenimiento|yesno:"Si,No" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <hr>
    <p class="table-title">
      DOTACIONES Y DOCUMENTOS
    </p>
    <hr>
    <table>
      <tbody>
        <tr>
          <th scope="row">Estado de Revisiones</th>
          <td>{{ a.mantenimiento.estado_revisiones }}</td>
          <th scope="row">Ultimo Mantenimiento</th>
          <td>{{ a.mantenimiento.ultimo_mantenimiento }}</td>
        </tr>
        <tr>
          <th scope="row">Mantenimineto Pre-Entrega</th>
          <td>{{ a.mantenimiento.mantenimiento_previo_entrega }}</td>
          <th scope="row">Proximo Mantenimiento</th>
          <td>{{ a.mantenimiento.proximo_mantenimiento }}</td>
        </tr>
        <tr>
          <th scope="row">Correa de Distribucion</th>
          <td>{{ a.mantenimiento.correa_distribucion }}</td>
          <th scope="row">Última revisión</th>
          <td>{{ a.mantenimiento.ultimo_mantenimiento }}</td>
        </tr>
        <tr>
          <th scope="row">Correa de Servicio</th>
          <td>{{ a.mantenimiento.correa_servicio }}</td>
          <th scope="row">Estado de la batería</th>
          <td>{{ a.mantenimiento.estado_bateria }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br><br>
  <img src="{{ icon }}" alt="">
  <br><br><br><br>
  <div style="text-align: right; position: absolute; top: 500px;">
    <p>Visto por el comprador________________________________________________________</p>
  </div>
  <br>
  <div>
    <hr>
    <p class="table-title">
      EXAMEN VISUAL
    </p>
    <hr>
    <table class="table">
      <tbody>
        <tr>
          <th>Carroceria</th>
          <td>{{ a.examen_visual.carroceria }}</td>
        </tr>
        <tr>
          <th scope="row">Ventanas/Parabrisas</th>
          <td>{{ a.examen_visual.limpiaparabrisas }}</td>
          </td>
        </tr>
        <tr>
          <th scope="row">Habitáculo y tapicería</th>
          <td>{{ a.examen_visual.habitaculo_tapiceria_1 }}</td>
        </tr>
        <tr>
          <th scope="row">Asiento y revestimiento del asiento</th>
          <td>{{ a.examen_visual.asiento_revestimiento_asiento }}</td>
        </tr>
        <tr>
          <th scope="row">Neumáticos delanteros</th>
          <td>{{ a.examen_visual.neumaticos_delanteros }}</td>
        </tr>
        <tr>
          <th scope="row">Neumáticos traseros</th>
          <td>{{ a.examen_visual.neumaticos_traseros }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <hr>
    <p class="table-title">
      EXAMEN TÉCNICO
    </p>
    <hr>
    <table class="table">
      <tbody>
        <tr>
          <th>Motor</th>
          <td>{{ a.examen_visual.motor }}</td>
        </tr>
        <tr>
          <th scope="row">Volante motor</th>
          <td>{{ a.examen_visual.volante_motor }}</td>
          </td>
        </tr>
        <tr>
          <th scope="row">Sistema de escape</th>
          <td>{{ a.examen_visual.sistema_escape }}</td>
        </tr>
        <tr>
          <th scope="row">Embrague</th>
          <td>{{ a.examen_visual.embrague }}</td>
        </tr>
        <tr>
          <th scope="row">Alimentación e inyección</th>
          <td>{{ a.examen_visual.alimentacion_inyeccion }}</td>
        </tr>
        <tr>
          <th scope="row">Cambio</th>
          <td>{{ a.examen_visual.cambio }}</td>
        </tr>
        <tr>
          <th scope="row">Motor de arranque/Alternador</th>
          <td>{{ a.examen_visual.moto_arranque_alternador }}</td>
        </tr>
        <tr>
          <th scope="row">Diferencial / Repartidor</th>
          <td>{{ a.examen_visual.diferencial_repartidor }}</td>
        </tr>
        <tr>
          <th scope="row">Arbol de transmision</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Organo de dirección</th>
          <td>{{ a.examen_visual.organo_direccion }}</td>
        </tr>
        <tr>
          <th scope="row">Rodamiento de los neumáticos</th>
          <td>{{ a.examen_visual.rodamiento_neumaticos }}</td>
        </tr>
        <tr>
          <th scope="row">Dirección asistida</th>
          <td>{{ a.examen_visual.direccion_asistida }}</td>
        </tr>
        <tr>
          <th scope="row">Bomba de la direcciñon asistida</th>
          <td>{{ a.examen_visual.bomba_direccion_asistida }}</td>
        </tr>
        <tr>
          <th scope="row">Sistema de frenado</th>
          <td>{{ a.examen_visual.sistema_frenado }}</td>
        </tr>
        <tr>
          <th scope="row">Sistema de refrigeración</th>
          <td>{{ a.examen_visual.sistema_refrigeracion }}</td>
        </tr>
        <tr>
          <th scope="row">Sistema de calefacciñon (aire)</th>
          <td>{{ a.examen_visual.sistema_calefaccion }}</td>
        </tr>
        <tr>
          <th scope="row">Aire acondicionado</th>
          <td>{{ a.examen_visual.aire_acondicionado }}</td>
        </tr>
        <tr>
          <th scope="row">ABS/ESP</th>
          <td>{{ a.examen_visual.abs_esp }}</td>
        </tr>
        <tr>
          <th scope="row">Cuadro de instrumentos</th>
          <td>{{ a.examen_visual.cuadro_instrumentos }}</td>
        </tr>
        <tr>
          <th scope="row">Limpiaparabrisas</th>
          <td>{{ a.examen_visual.limpiaparabrisas }}</td>
        </tr>
        <tr>
          <th scope="row">Sistema eléctrico</th>
          <td>{{ a.examen_visual.sistema_electrico }}</td>
        </tr>
        <tr>
          <th scope="row">Cierre centralizado</th>
          <td>{{ a.examen_visual.cierre_centralizado }}</td>
        </tr>
        <tr>
          <th scope="row">Alumbrado y señalización</th>
          <td>{{ a.examen_visual.alumbrado_señalizacion }}</td>
        </tr>
        <tr>
          <th scope="row">Radio / Lector CD</th>
          <td>{{ a.examen_visual.radio_lectorCD }}</td>
        </tr>
        <tr>
          <th scope="row">Navegador</th>
          <td>{{ a.examen_visual.navegador }}</td>
        </tr>
        <tr>
          <th scope="row">Elevalunas eléctrico</th>
          <td>{{ a.examen_visual.elevalunas_electrico }}</td>
        </tr>
        <tr>
          <th scope="row">Airbag</th>
          <td>{{ a.examen_visual.airbag }}</td>
        </tr>
        <tr>
          <th scope="row">Antirrobo</th>
          <td>{{ a.examen_visual.antirrobo }}</td>
        </tr>
        <tr>
          <th scope="row">Techo solar</th>
          <td>{{ a.examen_visual.techo_solar }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <div style="text-align: right; position: absolute;">
    <p>Visto por el comprador________________________________________________________</p>
  </div>
  <br>
  <div>
    <hr>
    <p class="table-title">
      EVALUACIÓN
    </p>
    <hr>
    <table>
      <tbody>
        <tr>
          <th>Valor Nuevo</th>
          <td>Nuevo.</td>
          <th>Valor Usado</th>
          <td>Usado.</td>
          <th>Fuente</th>
          <td>fuente.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div style="border: 1px solid #000; padding: 15px; font-size: 11px;">
    <p class="table-title">
      DECLARACIÓN DE ENTREGA Y RESPONSABILIDAD
    </p>
    <p>
      Las partes reconocen que el vehículo está conforme al contrato de venta estipulado y presenta, en el momento de la entrega, una disminución
      razonable de sus prestaciones y funcionalidad dependientes de su utilización progresiva y de su consiguiente desgaste normal, en función de la
      antigüedad y el kilometraje recorrido, detallada y analíticamente indicada y descrita en la presente ficha técnica de "conformidad" con las
      siguientes definiciones: Reacondicionado; sustituido/revisado, Buenas Condiciones: recientemente sustituido/revisado o que por un particular
      cuidado y/o mantenimiento está en mejores condiciones de utilización que en situación normal de uso; Condiciones normales de uso: el estado de
      desgaste se ajusta a la antigüedad y al kilometraje del vehículo, Intervención recomendada: ser restaurado después de un desgaste mecánico
      normal o debido a condiciones de desgaste más allá de lo normal, Reparación necesaria: se debe sustituir/reparar o está próximo a la rotura, No
      está presente: no disponible en el coche.
      <br><br><br>
      Acepto que cualquier anomalía que se verifique en el vehículo en cuestión, debe ser comunicada por mi y por escrito a Hosho Garantie, S.A., gestor
      por cuenta del vendedor de la garantía legal de conformidad (utilizando el correspondiente módulo) no más tarde de dos meses desde su
      aparición, bajo pena de la pérdida de cualquier derecho.R.P.M. Garantie S.A., presta, previa aprobación del vendedor, sólo y exclusivamente
      actividades de asesoramiento en nombre y por cuenta de este último.
      <br><br><br><br>
      Uso principal del vehiculo:
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Trayecto casa trabajo
      <br>
      Prueba en carretera con el cliente por km
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      SI <img src="{{ icon1 }}" alt=""  width="17px" height="17px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      NO <img src="{{ icon1 }}" alt=""  width="17px" height="17px">
      <br>
      Fecha de entrega:
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ a.datos_del_Vehiculo.fecha_entrega }}
      <br><br><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Sello y Firma del Vendedor
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Firma del Cliente
      <br><br><br>
      ____________________________________________________
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ____________________________________________________
    </p>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1 style="text-align: right;">MÓDULO DE DECLARACIÓN DE CONFORMIDAD</h1>
  <div style="border: 1px solid #000; padding: 15px; font-size: 12px;">
    <p style="padding-left: 25px;">
      <span style="font-size:x-large; text-align: center; padding-left: 25px; padding-bottom: 25px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Guía para la declaración presencial de un defecto del vehículo.
      </span><br><br>
      <span>
      1) Si se encuentra un defecto contactar de inmediato con el servicio de Hosho al número
      924.256868 o enviar el módulo de “ DECLARACIÓN DE CONFORMIDAD CONTRACTUAL”
      por correo electrónico a infocliente@hoshogarantia.com<br><br>
      2)
      En caso de aceptación, Hosho solicitará trasladar el vehículo al vendedor ( o talleres
      concertados) que tendrá que enviar un presupuesto de reparación y posteriormente
      obtener la autorización escrita por parte de Hosho para poder proceder a la reparación. <br><br>
      3) Si ya habéis diagnosticado el defecto en el taller, para obtener una respuesta
      rápida, enviar a Hosho antes de la reparación:
      - Módulo de declaración totalmente rellenado.
      - Presupuesto detallado del diagnóstico efectuado.
      Si fuera necesario sustituir alguna pieza, la misma será proporcionada por Hosho. Hosho
      solucionará el expediente en un tiempo razonable, en relación a la naturaleza del
      defecto, a las circunstancias y al tiempo que requiera el propio procedimiento.
    </span>
    </p>
  </div>
  <div style="border: 1px solid #000; padding: 15px; font-size: 11px;">
    <p style="padding-left: 25px;">
      <span style="font-size:x-large; text-align: center; padding-left: 25px; padding-bottom: 25px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        DATOS DEL VEHÍCULO
      </span><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Propietario:_________________________________________&nbsp;&nbsp;&nbsp;Email:__________________________________________ <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Marca y Modelo:______________________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Matricula:________________________________________&nbsp;&nbsp;&nbsp;&nbsp;Bastidor n°:________________________________________ <br><br>
    </p>
  </div>
  <div style="border: 1px solid #000; padding: 15px; font-size: 11px;">
    <p style="padding-left: 25px;">
      <span style="font-size:x-large; text-align: center; padding-left: 25px; padding-bottom: 25px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        DATOS DE LA AVERÍA O DEL DEFECTO
      </span><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Fecha declaración de defecto:_____________________________&nbsp;&nbsp;&nbsp;Km Actuales:__________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Fecha aceptación taller:________________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Descripción del defecto detectado:________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ___________________________________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ___________________________________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ___________________________________________________________________________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ___________________________________________________________________________________________________<br><br>
    </p>
  </div>
  <div style="border: 1px solid #000; padding: 15px; font-size: 11px;">
    <p style="padding-left: 25px;">
      <span style="font-size:x-large; text-align: center; padding-left: 25px; padding-bottom: 25px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        DIRECCIONES PARA CONTACTO Y RESPUESTA
      </span><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Teléfono:__________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MóviL:__________________________________<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Correo Eléctronico::______________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firma del proprietario del vehículo:______________________________<br><br>
    </p>
  </div>
  <br><br><br><br><br><br>
  <h1 style="text-align: center;">CONDICIONES DEL SERVICIO</h1>
  <div style="padding: 15px; font-size: 11.22px;">
    <p style="padding-left: 25px;">
      El cliente que contrata la Garantía de Mecánica ofrecida por Hosho Garantía,
      tendrá derecho a los siguientes beneficios que se describen a continuación en el siguiente contrato:
      <br><br>
      En una parte, la Sociedad GRUPO HOSHO S.L, denominación comercial HOSHO GARANTÍA.
      <br><br>
      De la otra, el cliente que contrata los servicios ofrecidos por los servicios de garantía mecánica de la empresa HOSHO GARANTÍA.
      <h5 style="text-align: center; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">INTERVENCION Y CAPACIDAD</h5>
      Ambas partes se reconocen capacidad jurídico legal para el otorgamiento del presente contrato, actuando la empresa la HOSHO GARANTÍA y el titular del vehículo garantizado en su propio nombre y representación.
      <h5 style="text-align: center; margin-bottom: 1px; padding-bottom: 1px; margin-top: 10px; padding-top: 10px;">EXPONEN</h5>
      I.- HOSHO GARANTÍA, es una entidad de garantías de vehículos, que provee reparaciones a través de un contrato de garantía suscrito con el titular del vehículo garantizado y/o el vendedor.
      <br><br>
      II.- . HOSHO GARANTÍA no es una compañía de seguros, ni el presente contrato es una póliza de seguros.
      <br><br>
      III.- La presente garantía no afecta a los derechos legales vigentes tiene el comprador, sino que los amplia, tanto si lo es en concepto de consumidor, persona física particular o persona jurídica profesional.
      <h5 style="text-align: center; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">CLÁUSULAS</h5>
      <strong>PRIMERA</strong><br>
      <strong>OBJETO DE GARANTÍA</strong><br><br>
      Servicio sobre el que recae el presente contrato de garantía. <br><br>
      Descripción del vehículo objeto de garantía. Previa revisión y descripción detallada del estado del vehículo por parte de un técnico, de lo cual se deja constancia documental en este contrato de garantía.
      <br><br>
      <strong>MARCA MODELO MATRÍCULA</strong><br>
      <strong>BASTIDOR KILOMETRAJE AÑO DE MATRICULACIÓN </strong>Información disponible en el formulario de contratación <br><br>
      El comprador, asume que se trata de un automóvil usado, y que por consiguiente se ha producido una devaluación sobre los elementos y piezas que integran el conjunto del mismo, el garante responde con respecto del vehículo en cuestión, en el caso de que la vida útil de la pieza sea inferior a la prevista por el fabricante o a los usos habituales. Tras una revisión realizada en presencia del propietario, se ha podido determinar que el estado del vehículo es el siguiente:
      <br><br>
      <strong>Carrocería</strong>
      <br>
        Desgaste del vehículo Presenta buen estado atendiendo a su antigüedad y uso Incidencias reseñables:
      <br><br>
      <strong>
        Electricidad
      </strong>
      <br>
      Desgaste del vehículo Funciona todo como condición normal de uso, para antigüedad y uso. Incidencias reseñables:
      <br><br>
      <strong>
        Interiores
      </strong>
      <br>
      Desgaste del vehículo El vehículo presenta buen estado del interior con desgaste normal para antigüedad y uso. Incidencias reseñables:
      <br><br>
      <strong>
        MECÁNICA:
      </strong>
      <br>
      Desgaste del vehículo Hemos realizado un informe del vehículo el cual nos informa que está acto para la venta, y su mecánica atiende al uso normal con respecto a su antigüedad y kilometraje.
      <br><br>
      El propietario conoce el estado del vehículo, tras el reconocimiento por parte de la empresa garante se comprueba el funcionamiento de todos los elementos y mecanismos eléctricos del vehículo, así como los manuales, luces e interruptores, siendo por tanto conocedor de su estado.
      <br><br>
      Piezas que podrían requerir sustitución durante el año después de haberse realizado el presente contrato de garantía y que podrían llegar a su vida útil serían:
      <br><br>
      COBERTURA DE LA GARANTÍA MECÁNICA: Motor. Alimentación. Sobrealimentación. Compresor Volumétrico. Cambio Manual. Cambio Automático. Cambio a Variación Continua. Sistema de frenado. Diferencial. Sistema de refrigeración. Dirección. Transmisión. EXCLUSIONES DE LA GARANTÍA. Rodamientos, embrague, mecatrónica de las cajas automáticas, la cual hace parte de los sistemas de ingeniería inteligentes electrónicos del vehículo y el cuerpo de válvula o caja de correderas de la caja de cambios automáticas, al igual que la bomba hidráulica de cambio manual robotizada. Es de aclarar que las piezas o partes que requieran sustitución, mantenimiento, reparación o reglajes de piezas u órganos ocasionados por desgaste, deformación o deterioro paulatino, como consecuencia del uso o funcionamiento normal, erosión, corrosión no estarían cubiertas por la garantía mecánica básica.
      <br><br>
      <strong>SEGUNDA: PRESTACIÓN DE SERVICIO DE GARANTIA.</strong>
      <br><br>
      La presente garantía comercial tiene carácter adicional y voluntario y será de obligado cumplimiento por parte de HOSHO GARANTÍA, se garantiza el arreglo del vehículo de forma gratuita en caso de avería mecánica, con el único límite que no supere la reparación el valor venal del vehículo, según el Baremo de Eurotax a la fecha de concurrencia de la avería. La presente garantía tiene por única finalidad la de permitir la entrega del vehículo objeto de la garantía, en el mismo estado de funcionamiento mecánico anterior a la avería garantizada.
      <br><br>
      La presente cobertura, tienen por objeto garantizar el importe de las reparaciones (piezas, mano de obra), tras una avería mecánica de carácter fortuito, con los límites y condiciones establecidos en el presente contrato. La presente garantía no cubre los daños y perjuicios debidos a una responsabilidad, sea cual sea (contractual, delictiva o extracontractual), ni los daños y perjuicios directos o indirectos, aunque sean debidos a una avería cubierta por la garantía. Dicha garantía no exime de las responsabilidades legales del vendedor del vehículo descritas en la Ley de Defensa de los Consumidores vigente y en el Código Civil, la entidad garante podrá reclamar por dichos vicios o defectos al fabricante
      <br><br>
      A efectos de determinar la garantía, se entiende por avería mecánica, a efectos del presente contrato, la incapacidad de una pieza de funcionar conforme a las especificaciones del fabricante, como consecuencia de un fallo mecánico o eléctrico. Por lo tanto, no tienen la consideración de avería mecánica, la reducción gradual del rendimiento de una pieza debido a su desgaste o deterioro por antigüedad y kilometraje del vehículo.
      <br><br>
      <strong>TERCERA: DURACIÓN DEL CONTRATO DE GARANTIA.</strong>
      <br><br>
      El Prestador realizará los Servicios objeto del presente Contrato durante el periodo de 6 meses o 1 (un) año según convengan las partes desde la suscripción del presente Contrato. Una vez finalizado dicho plazo el compromiso se prorrogará por iguales periodos salvo que alguna de las partes exprese su deseo de no renovar el contrato, que deberá realizarse con una anterioridad mínima de dos meses.
      <br><br>
En cualquier caso, y como requisito previo a la resolución del Contrato por cualquiera de las Partes, se deberá notificar a la parte incumplidora el incumplimiento y conceder un plazo de 5 días desde la notificación para que subsane dicho incumplimiento. Transcurrido dicho plazo se podrá resolver el Contrato.
<br><br>
La duración de la garantía podrá ser anulada antes del plazo contratado por las siguientes razones:
<br><br>
. En caso de no realizarse el pago de los servicios.
<br><br>
. En caso de una falsa declaración u omisión o inexactitud de los datos necesarios y solicitados para la concesión de la garantía mecánica.
<br><br>
. Cuando el vehículo garantizado sea vendido, cedido, destruido o robado.
<br><br>
. Cuando la utilización del vehículo o su mantenimiento no sean los recomendados por el fabricante.
<br><br>
. Cuando hayan sido montadas piezas o realizadas modificaciones o transformaciones en el vehículo sin la autorización de la entidad garante.
<br><br>
. Cuando el propietario de mala fe, exagere el importe de los daños o intencionadamente utilice como justificantes, documentos falsos o medios fraudulentos, perderá todo derecho a indemnización o arreglo.
<br><br>
La resolución unilateral por parte de HOSHO GARANTÍA será automática en los supuestos antes descritos, y tendrá efecto desde la fecha del suceso que la provoca, y el propietario del vehículo no tendrá derecho a ningún tipo de indemnización, por lo que el presente contrato se extinguirá inmediatamente y todas las sumas pagadas a HOSHO GARANTÍA se perderán, sin perjuicio de las acciones legales que la entidad garante pueda interesar en defensa de sus intereses.
    <strong>CUARTA: PRECIO</strong><br><br>
    El Precio será abonado de la forma siguiente: El Cliente procederá al abono de la cuota anual, mediante domiciliación bancaria, Transferencia, Stripe, Tarjeta de crédito.
    <br><br>
    <strong>QUINTA: REVISIONES MECÁNICAS OBLIGATORIAS</strong>
    <br><br>
    El titular del vehículo se compromete a realizar las revisiones del vehículo conforme a un calendario de servicio periódico de la siguiente forma, para vehículos cada 10.000 kilómetros o seis meses y para motocicletas 5000 kilómetros o seis meses. El titular deberá guardar los certificados acreditativos de pasar esas revisiones periódicas, la empresa garante podrá exigir su presentación. El incumplimiento por parte del propietario de la garantía, de las revisiones antes descritas, libera a HOSHO GARANTÍA de las obligaciones inherentes en el presente contrato, en caso de incumplimiento las cantidades recibidas por le empresa no serán devueltas al titular del contrato.
    <strong>SEXTA: EN CASO DE AVERÍA</strong><br><br>
    El propietario o conductor deberá detenerse en cuanto aparezcan los primeros síntomas de avería o mal funcionamiento mecánico, dado que cualquier agravación de la misma quedará a su cargo.
    <br><br>
    Se deberá comunicar a HOSHO GARANTÍA dicha avería en el plazo de siete días, indicando tipo de avería, el número de garantía y los kilómetros indicados en el marcador, a efectos de poder determinar el taller al que se debe llevar el vehículo. La empresa garante se reserva el derecho de elegir, si así lo cree preciso, un taller colaborador para realizar las necesarias reparaciones. Así mismo, puede decidir utilizar componentes de sustitución equivalentes al desgaste del vehículo asegurado, si el titular del vehículo decidiera que la reparación se realice con piezas nuevas la diferencia del coste correrá de su cargo. El incumplimiento de del plazo o taller indicados eximirá a la entidad garante del cumplimiento de sus servicios.
    <br><br>
    Si la avería está cubierta por la garantía, HOSHO GARANTÍA, comunicará al taller reparador la autorización sobre la cuantía de la avería, una vez reparado se extenderá factura a nombre de la entidad garante, por la cuantía aceptada y garantizada, quién efectuará el correspondiente abono de la factura. Toda reparación o intervención que no haya sido objeto de acuerdo previo entre el taller reparador e HOSHO GARANTÍA, no irá a cargo de la garantía.
    <br><br>
    No se indemnizará gastos de diagnosis y desmontaje de las piezas si la avería no está cubierta por la presente garantía.
    <br><br>
    HOSHO GARANTÍA en ningún caso asumirá reparaciones en la casa oficial la marca del vehículo.
    <br><br>
    Finalmente, <strong>HOSHO GARANTÍA</strong> se reserva el derecho de nombrar perito para todos los casos que considere oportunos.
    <br><br>
    <strong>SÉPTIMA: CESIÓN.</strong>
    <br><br>
    Las Partes no podrán ceder su posición en el presente Contrato, ni tampoco los derechos u obligaciones que del mismo se derivan.su favor o a su cargo, sin el consentimiento por escrito de la otra Parte.
    <br><br>
    <strong>OCTAVA: LEY APLICABLE Y JURISDICCIÓN COMPETENTE</strong>
    <br><br>
    El presente Contrato se regirá e interpretará de acuerdo con las Leyes de España y se someterá a la jurisdicción de los Tribunales de Las Palmas de Gran Canaria.
    <br><br>
    <strong>NOVENA:</strong>
    <br><br>
    Toda garantía contratada tendrá una carencia de 25 días a partir del pago de la misma.
    <br><br>
    <strong>DÉCIMA:</strong>
    <br><br>
    El cliente acepta y entiende los términos y condiciones del contrato, teniendo claro que Ibérica Garantías pasa a ser la empresa subsidiaria de dicha garantía, eximiendo de cualquier responsabilidad al vendedor.
    <br><br>
    <strong>NOTIFICACIONES</strong>
    <br><br>
    Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que hayan de efectuarse por las partes en relación con el presente contrato, deberán realizarse por escrito y se entenderá que han sido debidamente realizadas cuando hayan sido entregadas en mano o bien remitidas por correo certificado al domicilio de la otra parte que conste en el encabezamiento del presente contrato, o bien a cualquier otro domicilio que a estos efectos cada parte pueda indicar a la otra.
  </p>
  </div>
  <h1 style="text-align: center;">PROTECCIÓN DE DATOS</h1>
  <div style="padding: 15px; font-size: 11px;">
    <p style="text-align: right; font-size: 11px;">CONSENTIMIENTO EXPRESO DEL CLIENTE DEL TRATAMIENTO DE LOS DATOS PERSONALES POR PARTE DE HOSHO GARANTÍA.
    </p>
    <p style="padding-left: 25px; text-align: left; font-size: 12px;">
      Confidencialidad y Datos Personales­­­.
      <br><br>
      Las Partes se obligan a guardar absoluta confidencialidad sobre la información y documentación que ambas Partes se faciliten mutuamente o tengan acceso durante la prestación del Servicio. Ambas Partes se obligan a no revelar, ni utilizar directa o indirectamente la información y conocimientos adquiridos, derivados de la relación contractual acordada entre las Partes en otros servicios que no sean el objeto del presente Contrato. Las Partes se comprometen a tomar las medidas necesarias, tanto respecto a sus empleados como a terceros que pudieran tener alguna relación con el presente Contrato, para asegurar el cumplimiento de lo acordado en esta cláusula. Una vez extinguido el presente Contrato, el Prestatario destruirá toda información que sobre la presente relación haya almacenado en cualquier soporte o haya reproducido por cualquier procedimiento.
      <br><br>
      Las Partes se obligan a guardar absoluta confidencialidad sobre la información y documentación que ambas Partes se faciliten mutuamente o tengan acceso durante la prestación del Servicio. Ambas Partes se obligan a no revelar, ni utilizar directa o indirectamente la información y conocimientos adquiridos, derivados de la relación contractual acordada entre las Partes en otros servicios que no sean el objeto del presente Contrato. Las Partes se comprometen a tomar las medidas necesarias, tanto respecto a sus empleados como a terceros que pudieran tener alguna relación con el presente Contrato, para asegurar el cumplimiento de lo acordado en esta cláusula. Una vez extinguido el presente Contrato, el Prestatario destruirá toda información que sobre la presente relación haya almacenado en cualquier soporte o haya reproducido por cualquier procedimiento.
      <br><br>
      Solo serán solicitados aquellos datos estrictamente necesarios para prestar adecuadamente los servicios solicitados, pudiendo ser necesario recoger datos de contacto de terceros, tales como representantes legales, tutores, o personas a cargo designadas por los mismos.
      <br><br>
      Todos los datos recogidos cuentan con el compromiso de confidencialidad, con las medidas de seguridad establecidas legalmente, y bajo ningún concepto son cedidos o tratados por terceras personas, físicas o jurídicas, sin el previo consentimiento del cliente, tutor o representante legal, salvo en aquellos casos en los que fuere imprescindible para la correcta prestación del servicio.
      <br><br>
      Una vez finalizada la relación entre la empresa y el cliente los datos serán archivados y conservados, durante un periodo tiempo mínimo de 2 (dos) años, tras lo cual seguirá archivado o en su defecto serán devueltos íntegramente al cliente o su autorizado legal.
      <br><br>
      Los datos que facilito serán incluidos en el tratamiento denominado Clientes de HOSHO GARANTÍA, con la finalidad de gestión del servicio contratado, emisión de facturas, contacto y todas las gestiones relacionadas con los clientes y manifiesto mi consentimiento. También se me ha informado de la posibilidad de ejercitar los derechos de acceso, rectificación, cancelación y oposición, indicándolo por escrito a HOSHO GARANTÍA con domicilio en la Calle Niza, número 2, escalera centro, primero b, Móstoles, Madrid. CP 28936
      <br><br>
      Los datos personales sean cedidos por HOSHO GARANTÍA a las entidades que prestan servicios a la misma.
    </p>
  </div>
  {% endfor %}
</body>

</html>