{% extends "base.html" %}
{% block content %}
<div class="menu-principal_imagen">
  <img src="img/logo-empresa.png" alt="">
</div>
<h5 class="menu-principal_h5">HOSHO GARANTÍA S.L</h5>
<div class="container menu-principal_container">
  <div class="row">
    <div class="menu-principal">
      <nav class="menu">
        <ul class="nav justify-content-center ">

          <li class="nav-item ">
            <a class="nav-link  menu-principal_a" id="click1" href="index.html"
              style='text-decoration:none;color:white;'>Política de privacidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" id="click1" href="insercion.html"
              style='text-decoration:none;color:white;'> Inserción de vehículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="documentacion.html"
              style='text-decoration:none;color:white;'>Documentos / Mantenimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="examen.html" style='text-decoration:none;color:white;'>Examen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="condiciones.html"
              style='text-decoration:none;color:white;'>Condiciones del servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-principal_a" href="proteccion.html"
              style='text-decoration:none;color:white;'>Protección de datos</a>
          </li>
      </nav>
      </ul>
      </header>
      <!--fin de menu principal-->

      <!--inicio de cuadro de informacion-->
      <div class="cuadro-informacion">
        <div class="documentacion-checkbox">
          <div class="documentacion-mantenimiento col-12">
            <div class="documentacion-mantenimiento_i">
            </div>
            <div class="condiciones-p insercion-vehiculos-form_bloque">
              <p>
              <div class="proteccion-p_right">CONSENTIMIENTO EXPRESO DEL CLIENTE DEL TRATAMIENTO DE LOS DATOS PERSONALES
                POR PARTE DE HOSHO GARANTÍA.</div>

              <br><br><br>

              Confidencialidad y Datos Personales­­­.
              <br><br>
              Las Partes se obligan a guardar absoluta confidencialidad sobre la información y documentación que ambas
              Partes se faciliten mutuamente o tengan acceso durante la prestación del Servicio. Ambas Partes se obligan
              a no revelar, ni utilizar directa o indirectamente la información y conocimientos adquiridos, derivados de
              la relación contractual acordada entre las Partes en otros servicios que no sean el objeto del presente
              Contrato. Las Partes se comprometen a tomar las medidas necesarias, tanto respecto a sus empleados como a
              terceros que pudieran tener alguna relación con el presente Contrato, para asegurar el cumplimiento de lo
              acordado en esta cláusula. Una vez extinguido el presente Contrato, el Prestatario destruirá toda
              información que sobre la presente relación haya almacenado en cualquier soporte o haya reproducido por
              cualquier procedimiento.
              <br><br>
              Ambas Partes se comprometen a guardar el más absoluto secreto respecto de los datos de carácter personal a
              que tengan acceso en cumplimiento del presente contrato y a observar todas las previsiones legales que se
              contienen en la Ley Orgánica 15/1999, de Protección de los Datos de Carácter Personal. En particular, el
              Prestador se compromete a no aplicar o utilizar los datos de carácter personal tratados o aquellos a los
              que hayan tenido acceso durante la prestación del Servicio, con fin distinto al que figura en el presente
              Contrato, ni a cederlos, ni siquiera para su conservación, a otras personas. El Prestador aplicará a los
              datos que trate por cuenta del Cliente, las medidas de seguridad establecidas en el Real Decreto 994/1999,
              Reglamento de Seguridad, en virtud del tipo de datos que trate. Una vez finalizado el Servicio, deberá
              devolver los datos al Cliente en el mismo soporte que se los remitió y no guardará ninguna copia de los
              mismos. Las Partes responderán una frente a la otra por los daños y perjuicios que puedan derivarse del
              incumplimiento de esta obligación.
              <br><br>
              Solo serán solicitados aquellos datos estrictamente necesarios para prestar adecuadamente los servicios
              solicitados, pudiendo ser necesario recoger datos de contacto de terceros, tales como representantes
              legales, tutores, o personas a cargo designadas por los mismos.
              <br><br>
              Todos los datos recogidos cuentan con el compromiso de confidencialidad, con las medidas de seguridad
              establecidas legalmente, y bajo ningún concepto son cedidos o tratados por terceras personas, físicas o
              jurídicas, sin el previo consentimiento del cliente, tutor o representante legal, salvo en aquellos casos
              en los que fuere imprescindible para la correcta prestación del servicio.
              <br><br>
              Una vez finalizada la relación entre la empresa y el cliente los datos serán archivados y conservados,
              durante un periodo tiempo mínimo de 2 (dos) años, tras lo cual seguirá archivado o en su defecto serán
              devueltos íntegramente al cliente o su autorizado legal.
              <br><br>
              Los datos que facilito serán incluidos en el tratamiento denominado Clientes de HOSHO GARANTÍA, con la
              finalidad de gestión del servicio contratado, emisión de facturas, contacto y todas las gestiones
              relacionadas con los clientes y manifiesto mi consentimiento. También se me ha informado de la posibilidad
              de ejercitar los derechos de acceso, rectificación, cancelación y oposición, indicándolo por escrito a
              HOSHO GARANTÍA con domicilio en la Avenida del Arroyo Juncal 1, Portal 7, Piso Bajo, Puerta D,
              Navalcarnero, Comunidad de Madrid, España.
              <br><br>
              Los datos personales sean cedidos por HOSHO GARANTÍA a las entidades que prestan servicios a la misma.</p>
            </div>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col insercion-vehiculos-date">
                  <label for="example-date-input" class="col col-form-label">Fecha de entrega</label>
                  <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                </div>
                <div class="col insercion-vehiculos-date documentacion-mantenimiento_form">
                  <label for="example-date-input" class="col col-form-label">Fecha de inicio</label>
                  <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                </div>
                <div class="col insercion-vehiculos-date documentacion-mantenimiento_form">
                  <label for="example-date-input" class="col col-form-label">Fecha de activación</label>
                  <input class="form-control" type="date" value="2021-03-25" id="example-date-input">
                </div>
              </div>
            </form>
            <form class="insercion-vehiculos-form">
              <div class="form-row">
                <div class="col insercion-vehiculos-date">
                  <img src="img/logo-empresa.png" alt="">
                  <p>
                    CENTRO DE OPERACIONES Y SOPORTE
                    <br>
                    <br>
                    Asistencia telefónica
                    <br>
                    <br>
                    +34655802423
                    <br>
                    <br>
                    E-mail: <a href="" style='color:#f44336;'>infocliente@hoshogarantia.com</a>
                    <br>
                    <br>
                    <a href="www.hoshogarantia.com" style='color:#f44336;'> www.hoshogarantia.com</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--inicio de boton-->
      <div class="menu-principal_botones">
        <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:examen' %}"
            style='text-decoration:none;color:#f44336;'>ANTERIOR</a></button>
        <button type="button" class="menu-principal_botones-color"><a href=""
            style='text-decoration:none;color:#f44336;'>CONFIRMAR</a></button>
        <button type="button" class="menu-principal_botones-color"><a href="{% url 'core:proteccion' %}"
            style='text-decoration:none;color:#f44336;'> SIGUIENTE</a></button>
        <button type="button" class="menu-principal_botones-color"><i class='bx bxs-save'></i></i></button>
      </div>
    </div>
  </div>
  <!--fin de menu principal-->
</div>
</div>
{% endblock %}