{% extends 'base1.html' %}

{% load static %}
{% block content %}
<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>


<div class="page-content">
    <section id="featured" class="content-section">
        <!-- <div class="section-heading">
            <h1>Información<br><em>completa</em></h1>
            <p>Información almacenada del formulario</p>
        </div> -->
        <div class="section-content">
            <h1 style="text-align: left;">Contratos:</h1>
            <div class="owl-carousel owl-theme">
                {% if query.insercion %}
                {% for insercion in query.insercion %}
                <div class="item">
                    <div class="text-content">
                        <h4>{{ insercion.concesionario }}</h4>
                        <a href="{% url 'core:pdf-incersion' pk=insercion.pk %}"><span>Inserción de Vehículo</span></a>
                        <a href="{% url 'core:pdf-contrato' pk=insercion.pk %}"><span>Contrato COMPRAVENTA</span></a>
                        <br>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>No Tienes ningún registro.</h2>
                <p>Ingresa una nuevo vehículo: &nbsp;&nbsp;<a href="{% url 'core:insercion' %}" class="btn btn-primary">Inserción</a></p>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}