{% extends 'base1.html' %}

{% load static %}
{% block content %}
<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Bienvenido/@{{user.username|title}}</h1>
                        <div class="white-button button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>


<div class="page-content">
    <section id="featured" class="content-section">
        <div class="section-heading">
            <!-- <h1>Información<br><em>completa</em></h1>
            <p>Información almacenada del formulario</p> -->
        </div>
        <div class="section-content">
            <div class="owl-carousel owl-theme">
                <!-- <div class="item">
                    <div class="text-content">
                        <div class="container">
                            <span style="font-size: 20px; color: rgb(80, 67, 67);">Agregar nueva:</span>
                            <a href="{% url 'core:insercion' %}" class="btn btn-primary">insercion</a>
                        </div>
                        <br>
                        <div class="container">
                            <span style="font-size: 20px; color: rgb(80, 67, 67);">Agregar nuevo:</span>
                            <a href="" class="btn btn-primary">Contrato</a>
                        </div>
                    </div>
                </div> -->
                {% if insercion %}
                {% for insercion in insercion %}
                <div class="item">
                    <div class="text-content">
                        <h4>{{ insercion.concesionario }}</h4>
                        <span>Duracion del contrato: {{ insercion.duracion_del_contrato }}</span>
                        <p>Matricula: {{ insercion.datos_del_Vehiculo.matricula }}</p>
                        {% if insercion.contrato %}
                        Formulario de contrato: <input type="checkbox" name="insercion" id="insercion" checked readonly>
                        <br>
                        <a href="{% url 'core:pdf-incersion' pk=insercion.pk %}" target="_blank">Generar PDF De la insercion</a>
                        <br>
                        <a href="{% url 'core:pdf-contrato' pk=insercion.pk %}" target="_blank">Generar PDF Del Contrato</a>
                        {% else %}
                        <span>
                            <a href="{% url 'core:contrato' pk=insercion.pk %}">Añadir Contrato: </a>
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>No Tienes ningún registro.</h2>
                <p>Ingresa una nuevo vehículo: &nbsp;&nbsp;<a href="{% url 'core:insercion' %}" class="btn btn-primary">Inserción</a></p>
                {% endif %}
            </div>
        </div>
    </section>

</div>
{% endblock %}